.idea/
.project
.classpath
.settings/
src/main/java/test/
rtbwarte.iml
output/
src/test
src/main/resources/
target/classes/main/resources
target/classes/PPMAOld/
target/classes/Word2VecModel/
target/
rtbwarteMig.iml
log4j.log
CwarlStat.txt
estimation.txt
ksgre-common/target/
ksgre-core/target/
ksgre-core/output/
ksgre-core/src/main/resources/Word2VecModel/
ksgre-core/src/main/resources/javaVector.model
ksgre-feedex/target/
ksgre-nlp/target/